// Styles for base HTML elements.

body {
	background: $page-bg;
	color: $font-color;
	font-size: $font-size-md;
	line-height: round($font-size-md * 1.35);
	margin: 0;
	overflow: visible;
	padding: 0;
}

html {
	margin: 0;
	padding: 0;
}

.charsheet .sheet-darkerdungeons {
	background: $page-bg;
	color: $font-color;
	font-size: $font-size-md;
	line-height: round($font-size-md * 1.35);
	margin: 0;
	overflow: visible;
	padding: 0;

	*,
	*::after,
	*::before {
		box-sizing: border-box;
	}

	input:hover,
	input:focus,
	textarea:hover,
	textarea:focus {
		background: $hover-bg;
		outline: none;
	}

	select:hover,
	select:focus {
		background: $hover-bg;

		option {
			background: white;
		}
	}

	label {
		margin: 0;
		padding: 0;
		font-size: inherit;
		font-weight: inherit;
	}
}
