.charsheet .sheet-darkerdungeons {

	.sheet-section-pc .sheet-tab-spells {

		.sheet-pc-spell-ability,
		.sheet-pc-burnout {

			.sheet-container-header {
				padding-left: 10px;
				padding-right: 10px;
			}

			.sheet-container-body {

				select,
				input {
					height: 39px;
				}
			}
		}

		.sheet-pc-spell {
			display: flex;
			padding-right: 20px;

			button {
				justify-content: space-between;
				flex-grow: 1;
				display: flex;
				border: 0;
				background: none;
				box-shadow: none;
				font-size: 11px;
				width: 100%;
				overflow: hidden;

				&:hover {
					background: $hover-bg;
					margin-left: -3px;
					margin-right: -3px;
					padding-left: 3px;
					padding-right: 3px;
				}
			}

			.sheet-checkbox-image {
				margin-right: 5px;
				flex-shrink: 0;
				height: 10px;
				width: 10px;
				margin-top: 4px;

				span {
					padding: 1px;
				}
			}

			.sheet-pc-spell-name {
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.sheet-pc-spell-components {
				font-size: 8px;
				margin-left: 5px;
			}

			.sheet-display-brackets {
				opacity: .5;
			}
		}

		> input[type="radio"]:checked ~ .sheet-tab-content {
			display: grid;
			grid-row-gap: 5px;
			grid-template-rows: 85px auto;
		}

		.sheet-container-well-spell-attributes {
			display: grid;
			grid-column-gap: 5px;
			grid-template-columns: repeat(6, 1fr) 3fr;

			.sheet-pc-spell-symbols {

				ul {
					list-style: none;
					margin: 0;
					padding: 0;
				}

				font-size: 11px;
				line-height: 1.3;
				text-align: center;
			}

			.sheet-pc-spell-dc {

				.sheet-container-header {
					padding-left: 10px;
					padding-right: 10px;
				}
			}

			.sheet-pc-resource-class,
			.sheet-pc-resource-other {

				.sheet-container-header {
					position: relative;

					input {
						background: none;
						border: 0;
						bottom: 0;
						font-size: inherit;
						font-weight: inherit;
						height: 100%;
						left: 0;
						opacity: 0;
						position: absolute;
						text-align: center;
						text-transform: uppercase;
						width: 100%;

						&:focus {
							height: 18px;
							opacity: 1;

							+ span {
								opacity: 0;
							}
						}
					}
				}

				.sheet-container-body {
					flex-direction: row;

					input {
						padding: 0;
						font-size: 14px;
					}

					span {
						align-items: center;
						color: #dddddd;
						display: flex;
						font-size: 24px;
						justify-content: center;
					}
				}
			}
		}

		.sheet-container-well-spells {
			display: grid;
			grid-column-gap: 10px;
			grid-row-gap: 10px;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: auto auto auto;
			grid-auto-flow: column;

			.sheet-spells-8-9 {
				display: grid;
				grid-row-gap: 10px;
				grid-template-rows: 1fr auto;

				.sheet-container-spell {
					min-height: 112px;
				}
			}

			.sheet-container-spell {
				min-height: 218px;
			}
		}
	}
}
