// Styles for the PC header.

.charsheet .sheet-darkerdungeons {

	.sheet-section-pc {

		.sheet-section-pc-footer {

			p {
				color: #cccccc;
				font-size: 9px;
				margin: 3px 0 0;
				text-align: center;

				a {
					color: inherit;

					&:hover {
						text-decoration: none;
						background: $hover-bg;
					}
				}
			}
		}
	}
}
