// Common colors

$button-hover-color: #cf0101;
$button-roll-hover-color: #b61037;
$font-color: black;
$input-border: #cccccc;
$page-bg: white;
$panel-border: #575757;
$theme-primary: #7e2d40;
$theme-secondary: #dddddd;
$checkbox-border: #272727;
$checkbox-bg: #353535;
$box-footer-color: #bab8b8;
$hover-bg: #e5fffb;
