// Font families

@font-face {
	font-family: 'Pictos';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Pictos.woff') format('woff');
}

@font-face {
	font-family: 'dicefontd20';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/dicefontd20.woff') format('woff');
}
