// Image urls

$img-attribute: '../images/sheet-attribute-bg.png';
$img-bar: '../images/sheet-bar-border.png';
$img-bar-spacer: '../images/sheet-bar-spacer.png';
$img-box: '../images/sheet-box-border.png';
$img-counter: '../images/sheet-proficiency-border.png';
$img-header: '../images/sheet-header-bg.png';
$img-header-logo: '../images/sheet-logo-gdd.png';
$img-panel: '../images/sheet-box-border.png';
$img-well: '../images/sheet-well-border.png';
$img-spell-header: '../images/sheet-spell-header.png';

// $img-attribute: 'https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/5e%20Darker%20Dungeons/img/sheet-attribute-bg.png';
// $img-bar: 'https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/5e%20Darker%20Dungeons/img/sheet-bar-border.png';
// $img-bar-spacer: 'https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/5e%20Darker%20Dungeons/img/sheet-bar-spacer.png';
// $img-box: 'https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/5e%20Darker%20Dungeons/img/sheet-box-border.png';
// $img-counter: 'https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/5e%20Darker%20Dungeons/img/sheet-proficiency-border.png';
// $img-header: 'https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/5e%20Darker%20Dungeons/img/sheet-header-bg.png';
// $img-header-logo: 'https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/5e%20Darker%20Dungeons/img/sheet-logo-gdd.png';
// $img-panel: 'https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/5e%20Darker%20Dungeons/img/sheet-box-border.png';
// $img-well: 'https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/5e%20Darker%20Dungeons/img/sheet-well-border.png';
// $img-spell-header: 'https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/5e%20Darker%20Dungeons/img/sheet-spell-header.png';
